<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Music</title>
</head>
<body>
    <form action="/song" method="POST" enctype="multipart/form-data">
        <input type="text" name="thumbnail" placeholder="Thumbnail">
        <input type="file" name="Song" id="">
        <input type="text" name="Artist">
        <input type="submit" value="Submmit" name="Submit">
    </form>
</body>
</html>